@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* ========== PAGEWIDE CHANGES ============================================== */
* {
  font-family: 'Lora', serif;
}
html {
  width: 100vw;
  background: burlywood;
  color: ivory;
}
body {
  width: 100vw;
}

/* ========== PAGEWIDE ELEMENTS ============================================= */
hr {
  height: 1px;
  border: 0;
  background: floralwhite;
}
ul {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 1rem;
}
code {
  font-family: monospace;
  background-color: linen;
  border-radius: 0.3rem;
  padding: 0 0.25rem;
  font-size: 0.9em;
  filter: brightness(1.05);
}

/* ========== SIDE SECTIONS ================================================= */
header, footer {
  width: 100%;
  padding: 2rem 3rem 2rem;
}
header h1 {
  padding: 0 0 .2rem .75rem;
}

/* ========== SIDE SECTION ELEMENTS ========================================= */
footer nav {
  margin: 0.75rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer nav span {
  display: flex;
  flex-direction: column;
}
#previous {
  align-self: flex-start;
}
#index {
  align-self: center;
}
#next {
  align-self: flex-end;
}
footer nav a {
  padding: 0.1rem 0.3rem;
  text-decoration: none;
  color: ivory;
  font-size: 1.1rem;
  font-weight: 700;
}
footer nav a:visited {
  color: linen;
}
footer nav a:hover {
  text-decoration: none;
  background: ivory;
  color: burlywood;
}
footer nav a:active {
  text-decoration: none;
  background: none;
  color: ivory;
}

.afterword {
  /* Container size and position */
  margin: 2rem auto 4rem;
  padding: 0.75rem 2rem;
  max-width: 550px;
  min-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* Container styling */
  background: linen;
  border: 6px double silver;

  /* Type */
  font-size: 1.25rem;
  color: slategrey;
  font-weight: 500;
  line-height: 1.4;
}
.afterword summary {
  margin: 0 -1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
}
.afterword summary:hover {
  backdrop-filter: brightness(0.95);
}

/* Question and answer afterword format */
.qa {
  display: flex;
  flex-direction: column;
}
.q {
  font-style: italic;
  font-size: 1.1rem;
}
.a {
  padding: 0.4rem 5rem 0.75rem 1.2rem;
  font-size: 0.9rem;
  filter: brightness(1.15);
}

/* ========== MAIN CONTENT LAYOUT =========================================== */
main {
  margin: 2rem 4% 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.container {
  /* Container size and position */
  max-width: max-content;

  /* Container styling */
  outline: 8px outset sienna;
  background-color: peru;

  /* Grid setup */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  /* Grid styling */
  gap: 5px;
}

.cell {
  height: 4rem;
  width: 4rem;
  background-color: wheat;
}
.block {
  width: 85%;
  height: 85%;
  margin: 7.5%;
  display: grid;
  place-content: center;
}
.block:hover {
  border: 4px solid skyblue;
}
.block:active {
  border: 3px inset wheat;
}

/* ========== FORMS & CONTROL PANELS ======================================== */
.control-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-self: flex-start;
  flex-shrink: 0;
  flex-basis: 35%;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  max-width: max-content;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  backdrop-filter: brightness(0.96);
}
.panel p {
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.05rem;
  border-bottom: 1px solid floralwhite;
}
.panel span {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.panel label {
  padding: 0 0.5rem 0 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.panel input {
  background: rgba(250, 240, 230, 0.3);
  border: 1px solid linen;
  padding: 0 0.5rem;
  color: ivory;
  font-weight: 500;
}
.panel button {
  background-color: wheat;
  border: 2px outset bisque;
  color: ivory;
  border-radius: 0.2rem;
  width: 4rem;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1rem;
}
.panel button:hover {
  filter: brightness(1.02);
}
.panel button:active {
  filter: brightness(0.97);
  border: 2px inset bisque;
}

.w3r { width: 3rem; }

