@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Lora', serif;
}

body {
  width: 100vw;
}

html {
  background: burlywood;
  color: ivory;
  width: 100vw;
}

hr {
  border: 0;
  height: 1px;
  background: floralwhite;
}

header, footer {
  padding: 2rem 3rem 2rem;
  width: 100%;
}

header h1 {
  padding: 0 0 .2rem .75rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

footer ul {
  border: 6px solid silver;
  border-style: double;
  margin: 2rem auto 4rem;
  padding: 0.75rem 3rem;
  background: linen;
  max-width: 550px;
  min-width: 350px;
  font-size: 1.25rem;
  color: slategrey;
  font-weight: 500;
  line-height: 1.4;
}

main {
  margin: 2rem 0 6rem;
}

.container {
  /* Container size and position */
  margin: 0 auto;
  max-width: max-content;

  /* Container styling */
  outline: 8px outset sienna;
  background-color: peru;

  /* Grid setup */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  /* Grid styling */
  column-gap: 5px;
  gap: 5px;
}

.cell {
  background-color: wheat;
  height: 4rem;
  width: 4rem;
}

.block {
  background-color: white;
  width: 85%;
  height: 85%;
  margin: 7.5%;
}

.block:hover {
  border: 4px solid skyblue;
}

.block:active {
  border: 3px inset wheat;
}

.on {
  background-color: black;
}
