@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* ========== PAGEWIDE CHANGES ============================================== */
* {
  font-family: 'Lora', serif;
}
html {
  width: 100vw;
  background: burlywood;
  color: ivory;
}
body {
  width: 100vw;
}

/* ========== PAGEWIDE ELEMENTS ============================================= */
hr {
  height: 1px;
  border: 0;
  background: floralwhite;
}
ul {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 1rem;
}
ol {
  list-style-position: inside;
  padding: 0;
}
code {
  /* Sizing */
  padding: 0 0.25rem 0.1rem;

  /* Styling */
  background-color: linen;
  filter: brightness(1.05);
  border-radius: 0.3rem;

  /* Type */
  font-family: monospace;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:active {
  filter: brightness(1.15);
}
a:hover {
  text-decoration: none;
}

::placeholder {
  color: floralwhite;
  opacity: 0.75;
}

/* ========== SIDE SECTIONS ================================================= */
header, footer {
  padding: 2rem 3rem 2rem;
}
header h1 {
  padding: 0 0 .2rem .75rem;
}

/* ========== SIDE SECTION ELEMENTS ========================================= */
footer nav {
  margin: 0.75rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Ensure good spacing: width of nav links don't push each other */
footer nav > span {
  display: flex;
  flex-direction: column;
}
#previous {
  align-self: flex-start;
}
#index {
  align-self: center;
}
#next {
  align-self: flex-end;
}

footer nav a {
  padding: 0.1rem 0.3rem;
  color: ivory;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}
footer nav a:visited {
  color: linen;
}
footer nav a:hover {
  background: ivory;
  color: burlywood;
  text-decoration: none;
}
footer nav a:active {
  background: none;
  color: ivory;
  text-decoration: none;
}

.afterword {
  /* Container size and position */
  margin: 2rem auto 4rem;
  padding: 0.75rem 2rem;
  max-width: 550px;
  min-width: 350px;

  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* Container styling */
  background: linen;
  border: 6px double silver;

  /* Type */
  font-size: 1.25rem;
  color: slategrey;
  font-weight: 500;
  line-height: 1.4;
}
.afterword summary {
  margin: 0 -1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
}
.afterword summary:hover {
  backdrop-filter: brightness(0.95);
  -webkit-backdrop-filter: brightness(0.95);
}

/* Question and answer afterword format */
.qa {
  display: flex;
  flex-direction: column;
}
.q {
  font-style: italic;
  font-size: 1.1rem;
}
.a {
  padding: 0.4rem 5rem 0.75rem 1.2rem;
  font-size: 0.9rem;
  filter: brightness(1.15);
}

@media screen and (max-width: 600px) {
  header, footer {
    padding: 1rem;
  }
}

/* ========== MAIN CONTENT LAYOUT =========================================== */
main {
  /* Sizing and position */
  margin: 2rem 3rem;

  /* Layout */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}
.board {
  /* Container size and position */
  max-width: fit-content;
  flex: 3 1;

  /* Container styling */
  outline: 8px outset sienna;
  background-color: peru;

  /* Grid setup */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  /* Grid styling */
  gap: 5px;
}

.cell {
  height: 4rem;
  width: 4rem;
  background-color: wheat;
}
.block {
  width: 85%;
  height: 85%;
  margin: 7.5%;
  display: grid;
  place-content: center;
}
.block:hover {
  border: 4px solid skyblue;
}
.block:active {
  border: 3px inset wheat;
}

@media screen and (max-width: 600px) {
  .board {
    gap: 2.5px;
    outline-width: 4px;
  }
  .cell {
    height: 2rem;
    width: 2rem;
  }
  .block:hover {
    border-width: 2.5px;
  }
  .block:active {
    border-width: 2px;
  }
}

/* ========== FORMS & CONTROL PANELS ======================================== */
.control-panel {
  display: flex;
  flex-flow: row wrap;
  flex: 2 0;
  align-items: flex-start;
  gap: 1rem;
}

.panel {
  /* Sizing and position */
  padding: 0.5rem 1rem  0.75rem;
  max-width: max-content;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 0.5rem;

  /* Styling */
  backdrop-filter: brightness(0.96);
  -webkit-backdrop-filter: brightness(0.96);
}
.panel p {
  padding-bottom: 0.05rem;
  border-bottom: 1px solid floralwhite;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}
.panel span {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 0.5rem;
}
/* Center panel row if alone */
.panel span:only-of-type {
  align-self: center;
}
/* Increase padding above and below panel rows */
.panel span:first-of-type {
  padding-top: 0.5rem;
}
.panel span:last-of-type {
  padding-bottom: 0.5rem;
}
.panel label {
  font-size: 1.3rem;
  font-weight: 700;
}
/* Space out subsequent labels */
.panel label ~ label {
  padding-left: 0.5rem;
}
.panel aside {
  filter: brightness(0.95);
  font-size: 0.8rem;
  font-weight: 700;
}
.panel input {
  background: rgba(250, 240, 230, 0.3);
  border: 1px solid linen;
  border-radius: 0;
  color: ivory;
  text-align: center;
  font-weight: 500;
}
.panel input:focus {
  outline: 2px solid white;
  background: rgba(250, 240, 230, 0.2);
}
.panel select {
  background: linen;
  color: dimgray;
  font-family: monospace;
  font-size: 0.85rem;
}
.panel button {
  width: 3rem;
  background-color: wheat;
  border: 2px outset bisque;
  border-radius: 0.2rem;
  color: ivory;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.2rem;
}
.panel button:hover {
  filter: brightness(1.02);
}
.panel button:active {
  filter: brightness(0.97);
  border: 2px inset bisque;
}
/* Make button text move with inset-outset illusion */
.panel button:active > div {
  margin: 1.5px -1.5px -1.5px 1.5px;
}
.panel button:has(+ aside) {
  width: unset;
}

.led {
  height: 1rem;
  width: 1rem;
  background: rgba(173, 255, 47, 0.5);
  box-shadow: inset 0 0 0.25rem rgba(255, 255, 255, 0.5);
  border: 1px solid silver;
  border-radius: 50%;
}
.bright {
  background: rgba(173, 255, 47, 0.9);
  box-shadow: 0 0 0.65rem 0.1rem greenyellow, inset 0 0 0.25rem rgba(255, 255, 255, 0.7);
  border: 1px solid greenyellow;
}

.panel code {
  color: silver;
}
.panel .code-field {
  text-align: left;
  font-family: monospace;
}

.w2r { width: 2rem; }

